
/* 公告样式 */
.bg {
  background-color: #222D32;
}
.mt-150 {
  margin-top: 150px;
}
a:link,
a:visited,
a:hover,
a:active{
  text-decoration: none;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mt-20 {
  margin-top: 20px;
}
.red {
  color: red;
}

/* 面板标题样式 */
.panel .panel-title {
  font-size: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

/* 侧边栏样式 */
.lt-aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
  z-index: 999;
  transition: all 1s;
   
}
/* 隐藏样式 */
.lt-aside.hidemenu {
  left: -180px;
}
/* 大标题样式 */
.lt-aside .brand {
  width: 180px;
  height: 50px;
  text-align: center;
  background-color: #367FA9;
}
.lt-aside .brand a {
  font-size: 20px;  
  color: #fff;
  line-height: 50px;
}
/* 用户样式 */
.lt-aside .user {
  width: 180px;
  height: 180px;
  padding-top: 30px;
}
.lt-aside .user img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
.lt-aside .user p {
  color: #fff;
  font-size: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}

/* 导航样式 */
.lt-aside .nav a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  color: #fff; 
  border-left: 3px solid transparent;
}
/* 二级菜单样式 */
.lt-aside .nav .child a{
  padding-left: 60px;
}
/* 钢梁样式 */
.lt-aside .nav a.current {
  border-left: 3px solid #006699;
  background-color: #1D1F21;
}
/* 主体部分 */
.lt-main {
  width: 100%;
  height: 2000px;
  background-color: skyblue;
  padding-left: 180px;
  padding-top: 50px;  
  transition: all 1s;
}
.lt-main.hidemenu {
  padding-left: 0px;
}
.lt-main .m-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #3C8DBC;
  padding-left: 180px;
  transition: all 1s;
}
.m-top.hidemenu {
  padding-left: 0px;
}
.icon-menu,
 .icon-back {
   width: 50px;
   height: 50px;
   text-align: center;
 }
.lt-main .m-top a {
  color: #fff;
  height: 50px;
  line-height: 50px;
  
}
